body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

header {
  background-image: url("./images/the-flatiron-building.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
}

.portfolioheader {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("./images/the-flatiron-building.png");
}

a {
  color: white;
  font-size: 18px;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
